@font-face {
   font-family: 'Casino3D';
   src: url('Casino3D/font.ttf');
}
@font-face {
   font-family: 'BontellaScript';
   src: url('BontellaScript/font.ttf');
}
@font-face {
   font-family: 'GOTHIC';
   src: url('GOTHIC/font.TTF');
}
